{block title}{_messages.app.courses}{/block}

{block content}
<div id="content" class="row">
	<div class="columns">
		<ul class="courses">
			<li n:foreach="$courses as $course">
				<h3><a n:href="Course:default $course->id">{!$course->name|imd}</a></h3>
				{!$course->goals|md}
				<p>{_messages.course.totalEnrolled, [count => count($course->enrollments)]}</p>
			</li>
		</ul>
	</div>
</div>
{/block}
