{block title}{_messages.app.courses}{/block}

{block content}
<div id="content" class="row">
	<div class="columns">
		<ul class="courses">
			<li n:foreach="$courses as $course">
				<h3><a n:href="Course:default $course->id">{!$def->get($course)->name|imd}</a></h3>
				{!$def->get($course)->goals|md}
				<p><a n:href="Course:enrolled, $course->id">{_messages.course.totalEnrolled, [count => count($course->enrollments)]}</a></p>
			</li>
		</ul>
	</div>
</div>
{/block}
