{block title}{$course->name}{/block}

{block breadcrumbs}
	<p>
		<a n:href="Homepage:default">Home</a> &rsaquo;
		{$course->name}
	</p>
{/block}

{block content}
<div id="content" class="row">
	<div class="columns">
		<ul class="units">
			<li n:foreach="$units as $unit">
				<h3>
					<a n:href="Unit:default $unit->id">{!$unit->name|imd}</a>
				</h3>
				<span class="label">{_messages.unit.phase.$unit->currentPhaseName}</span>
				{!$unit->goals|md}
			</li>
		</ul>
	</div>
</div>
{/block}
