{block title}{_messages.app.objectionsProcessing}{/block}

{block breadcrumbs}
	<p>
		<a n:href="Homepage:default">{_messages.app.home}</a> &rsaquo;
		<a n:href="Course:default $course->id">{$course->name}</a> &rsaquo;
		{_messages.app.objectionsProcessing}
	</p>
{/block}

{block content}
	<div class="row content">
		<div class="columns">
			{control reviewsRenderer $reviews}
		</div>
	</div>
{/block}
