{block title}{$unit->name}{/block}

{block breadcrumbs}
	<p>
		<a n:href="Homepage:default">Home</a> &rsaquo;
		<a n:href="Course:default $unit->course->id">{$unit->course->name}</a> &rsaquo; 
		TEST {_messages.app.unit}
	</p>
{/block}

{block unitInfo}
	<div class="phases">
		{foreach $unit->phaseNames as $phaseName}
			{continueIf $phaseName == 'draft'}
			{var $dateAttrName = $phaseName . '_since'}
			{var isPreviousCurrent = isset($isCurrent) && $isCurrent ? true : false}
			{var isCurrent = $phaseName === $unit->currentPhaseName}
			<span class="label {if !$isCurrent}secondary strong{else}success{/if}" title="{$unit->$dateAttrName|date: '%A %e %B %k.%M'}">
				{_messages.unit.phase.$phaseName |upper} 
				{var now = new DateTime}{if $isPreviousCurrent} &middot; {_messages.unit.phase.timeLeft, [time => $unit->$dateAttrName->diff($now)->format('%d d, %h h')]}{/if} <br>
				{_messages.unit.phase.since} {$unit->$dateAttrName|date: "%a %e %h, %k.%M"}
			</span>
		{/foreach}
	</div>

	<h2>{_messages.unit.goals}</h2>
	{!$unit->goals|md}
	
	<hr>
	
	<h2>{_messages.unit.reading}</h2>
	{!$unit->reading|md}
{/block}


{block homeworkForm}
	<h2>{_messages.unit.myHomework}</h2>
	
	<div n:if="$solution" class="panel callout">
		<p>{!_messages.unit.homeworkSaved, [date => $unit->reviews_since->format('j. n. Y H.i')]|imd}</p>
	</div>
	
	{form homeworkForm}
		<div class="assignmentQuestion" n:foreach="$form['questions']->controls as $name => $question">
			<h3 class="questionNumber">{$iterator->getCounter()}</h3>
			{label $question /}
			{? $form['questions'][$name]->setValue(is_null($solution) ? '' : $answers[$name])}
			{input $question, 'rows' => '10'}
			<p n:ifcontent>{inputError $question}</p>
		</div>

		<hr>

		<div class="assignmentQuestion">
			<h3 class="questionNumber"><i class="fa fa-file"></i></h3>
			<div class="panel">
				{label attachment /}
				{input attachment}
				
				<p n:if="$solution && $solution->attachment">
					{_messages.unit.submittedAttachment}: 
					<a href="{$baseUri}{$uploadPath}{$solution->attachment}">
					{=pathinfo($solution->attachment, PATHINFO_BASENAME)}</a>
				</p>
			</div>
			
			{input submit, 'class' => 'button'} 
			<p>{!_messages.unit.submitRepeatedly|imd}</p>
		</div>
	{/form}
{/block}

{block content}
<div id="content" class="row">
	<div class="columns">
		{include unitInfo}
		
		<hr>
		
		{include homeworkForm}
	</div>
</div>
{/block}
