{block title}{$unit->name}{/block}

{block breadcrumbs}
	<p>
		<a n:href="Homepage:default">{_messages.app.home}</a> &rsaquo;
		<a n:href="Course:default $unit->course->id">{$unit->course->name}</a> &rsaquo; 
		TEST {_messages.app.unit}
	</p>
{/block}

{block unitInfo}
	{control phasesRenderer $unit}

	{if $unit->goals}
		<h2>{_messages.unit.goals}</h2>
		{!$unit->goals|md}
		<hr>
	{/if}
	
	{if $unit->reading}
		<h2>{_messages.unit.reading}</h2>
		{!$unit->reading|md}
		<hr>
	{/if}
{/block}


{block homeworkForm}
	<h2>{_messages.unit.myHomework}</h2>
	
	<div n:if="$solution" class="panel callout">
		<p>{!_messages.unit.homeworkSaved, [date => $unit->reviews_since->format('j. n. Y H.i')]|imd}</p>
	</div>
	
	{form homeworkForm}
		<div class="assignmentQuestion" n:foreach="$form['questions']->controls as $name => $question">
			<h3 class="questionNumber">{$iterator->getCounter()}</h3>
			{label $question /}
			{? $form['questions'][$name]->setValue(is_null($solution) ? '' : $answers[$name])}
			{input $question, 'rows' => '10'}
			<p n:ifcontent>{inputError $question}</p>
		</div>

		<hr>

		<div class="assignmentQuestion">
			<h3 class="questionNumber"><i class="fa fa-file"></i></h3>
			<div class="panel">
				{label attachment /}
				{input attachment}
				
				<p n:if="$solution && $solution->attachment">
					{_messages.unit.submittedAttachment}: 
					<a href="{$baseUri}{$uploadPath}{$solution->attachment}">
					{=pathinfo($solution->attachment, PATHINFO_BASENAME)}</a>
				</p>
			</div>
			
			{input submit, 'class' => 'button'} 
			<p>{!_messages.unit.submitRepeatedly|imd}</p>
		</div>
	{/form}
{/block}

{block content}
<div id="content" class="row">
	<div class="columns">
		{include unitInfo}
		
		{include homeworkForm}
	</div>
</div>
{/block}
