application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 18 hours
	savePath: "%tempDir%/session"

services:	
	leanmapper.connection: LeanMapper\Connection(%leanmapper%)
	- LeanMapper\DefaultMapper
	- LeanMapper\DefaultEntityFactory
	- Model\Repository\AnswerRepository
	- Model\Repository\AssignmentRepository
	- Model\Repository\CourseRepository
	- Model\Repository\EnrollmentRepository
	- Model\Repository\FavoriteRepository
	- Model\Repository\LogRepository
	- Model\Repository\MessageRepository
	- Model\Repository\QuestionRepository
	- Model\Repository\ReviewRepository
	- Model\Repository\ReviewCommentRepository
	- Model\Repository\SolutionRepository
	- Model\Repository\UnitRepository
	- Model\Repository\UserRepository
	- Model\Entity\Answer
	- Model\Entity\Assignment
	- Model\Entity\Course
	- Model\Entity\Enrollment
	- Model\Entity\Favorite
	- Model\Entity\Log
	- Model\Entity\Message
	- Model\Entity\Question
	- Model\Entity\Review
	- Model\Entity\ReviewComment
	- Model\Entity\Solution
	- Model\Entity\Unit
	- Model\Entity\User	
	- Model\CourseInfo
	- Model\CourseDefinition(%appDir%/courses)
	- App\Forms\SignFormFactory
	- App\Components\IQuestionsControlFactory
	- App\Components\IChatControlFactory
	router: App\RouterFactory::createRouter
	uploadStorage: Model\UploadStorage(%wwwDir%/uploads, /uploads)
	generatedFilesStorage: Model\GeneratedFilesStorage(%wwwDir%/generated, /generated)
	authorizator: 
		class: Model\Acl

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension