application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 18 hours
	savePath: "%tempDir%/session"

services:	
	leanmapper.connection: LeanMapper\Connection(%leanmapper%)
	- LeanMapper\DefaultMapper
	- LeanMapper\DefaultEntityFactory
	- Model\Repository\AssignmentRepository
	- Model\Repository\CourseRepository
	- Model\Repository\EnrollmentRepository
	- Model\Repository\FavoriteRepository
	- Model\Repository\LogRepository
	- Model\Repository\ObjectionRepository
	- Model\Repository\ReviewRepository
	- Model\Repository\SolutionRepository
	- Model\Repository\UnitRepository
	- Model\Repository\UserRepository
	- Model\Entity\Assignment
	- Model\Entity\Course
	- Model\Entity\Enrollment
	- Model\Entity\Favorite
	- Model\Entity\Log
	- Model\Entity\Objection
	- Model\Entity\Review
	- Model\Entity\Solution
	- Model\Entity\Unit
	- Model\Entity\User	
	- App\Forms\SignFormFactory
	- App\Components\IQuestionsControlFactory
	router: App\RouterFactory::createRouter
	uploadStorage: Model\UploadStorage(%wwwDir%/uploads, /uploads)

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension