{block content}
{if !count($reviews)}
	<div class="panel">
		{!_messages.unit.noReviewsFound|md}
	</div>
{else}
	<ul class="no-bullet">
		{foreach $reviews as $review}
			{var unit = $review->solution->unit}
			{if $showIncomplete && is_null($review->score) && !$unit->isFinalized()}
				<li>
					<a href="{plink Review:writeForUnit}">{$review->opened_at|date:'j. n. Y, H.i'}</a>
					&mdash;
					{_messages.unit.evaluationInProgress},
					<a href="{plink Review:writeForUnit $unit->id}">{_messages.unit.continue} &rarr;</a>
				</li>
			{elseif !is_null($review->score)}
				<li>
					<span style="color: #f90; font-weight: bold">{_messages.review.shortScore.$review->score}</span>
					{if $unit->isFinalized()}<a href="{plink User:default $review->reviewed_by->id}">{$review->reviewed_by->name}</a>, {/if}
					{$review->submitted_at|date:'j. n. H.i'},
					<a href="{plink Review:default $review->id}">{_messages.review.showReview} &rarr;</a> 
				</li>
			{/if}
		{/foreach}
	</ul>
{/if}
