{block content}
{if !count($reviews)}
	<div class="panel">
		{!_messages.unit.noReviewsFound|md}
	</div>
{else}
	<ul class="no-bullet">
		{foreach $reviews as $review}
			{var unit = $review->solution->unit}
			{if $showIncomplete && $review->isInPrep()}
				<li>
					<a n:tag-if="!$unit->isFinalized()" href="{plink Review:writeForUnit}">{$review->opened_at|date:'j. n. Y, H.i'}</a>
					&mdash;
					{if !$unit->isFinalized()}
						{_messages.unit.evaluationInProgress},
						<a href="{plink Review:writeForUnit $unit->id}">{_messages.unit.continue} &rarr;</a>
					{else}
						{_messages.review.unfinished}
					{/if}
				</li>
			{elseif !$review->isInPrep()}
				<li>
					<span style="color: #f90; font-weight: bold">
						{if !is_null($review->score)}
							{var score = round($review->score)}
							{_messages.review.shortScore.$score}
						{else}
							&mdash;
						{/if}
					</span>
					<span class="label secondary" n:if="$review->isInPrep()">{_messages.review.status.prep}</span>
					<span class="label warning" n:if="$review->isObjected()">{_messages.review.status.objection}</span>
					<span class="label alert" n:if="$review->hasProblem()">{_messages.review.status.problem}</span>
					<span class="label warning" n:if="$review->isFixed()">{_messages.review.status.fixed}</span>
					{if $unit->isFinalized()}<a href="{plink User:default $review->reviewed_by->id}">{$review->reviewed_by->name}</a>, {/if}
					{if !is_null($review->submitted_at)}{$review->submitted_at|date:'j. n. H.i'}, {/if}
					<a href="{plink Review:default $review->id}">{_messages.review.showReview} &rarr;</a>
				</li>
			{/if}
		{/foreach}
	</ul>
{/if}
