{block title}{_messages.app.newPassword}{/block}

{block content}
<div id="content" class="row">
	<div class="columns last large-6" n:if="!count($flashes)">
		{form newPasswordForm}
			<p>{label password /} {input password}
			<span class="error" n:ifcontent>{inputError password}</span></p>

			{input email, value => $email}
			{input token, value => $token}
			<p>{input submit, class => 'button'}</p>
		{/form}
	</div>
</div>