{block title}{_messages.app.requestNewPassword}{/block}

{block content}
<div class="row content">
	<div class="columns last large-6" n:if="!count($flashes)">
		{form passwordResetForm}
			<p>{label email /} {input email}
			<span class="error" n:ifcontent>{inputError email}</span></p>

			<p>{input submit, class => 'button'}</p>
		{/form}
	</div>
</div>