app:
	name: "Peer Blender"
	subtitle: "Peer assessment-based homework tool"
	courses: "Courses"
	unit: "Unit"
	units: "Units"
	review: "Review"
	solution: "Solution"
	home: "Home"
	login: "Sign in"
	logout: "Sign out"
	username: "Username"
	usernameRequired: "Please enter your username."
	requestNewPassword: "Request new password"
	newPassword: "New password"
	setNewPassword: "Set as the new password"
	password: "Password"
	passwordRequired: "Please enter your password."
	passwordResetRequestNotInitiated: "No password reset request has been made for account with e-mail address **\"%address%\"** in the last 90 minutes."
	passwordResetTokenInvalid: "There is a password reset request for account with e-mail address **\"%address%\"**. However, your link is not valid. This happens mainly when you request a new password multiple times in a short while and use a link from an e-mail that is already not valid. Please try again."
	newPasswordSet: "New password has been set."
	keepMeSignedIn: "Keep me signed in"
	emailAddress: "E-mail address"
	accountNotFoundByEmail: "There's no account using the e-mail address **\"%address%\"**."
	passwordResetRequestSent: "An email with a link to reset your password has been sent to your e-mail address (%address%)."
	reviewsWithProblems: "Reviews with problems"
	stats: "Course stats"
	docs: "Docs"
	objectionsProcessing: "Objections processing"
course:
	totalEnrolled: "%count% people enrolled"
	participants: "Course participants"
	roles:
		student: "student"
		assistant: "assistant"
		admin: "admin"
user:
	courses: "User's courses"
	reviews: "User's reviews"
unit:
	goals: "Unit goals"
	reading: "Assigned reading"
	homework: "Homework"
	myHomework: "My homework"
	instructions: "Instructions"
	solution: "Solution"
	solutions: "Solutions"
	notAnswered: "Not answered."
	homeworkSaved: "**Your homework has been saved.**"
	homeworkAttachment: "Attachment"
	homeworkAttachmentNote: "maximum size is %filesize% kB; archive files into ZIP if needed"
	submittedAttachment: "Submitted attachment"
	noAttachment: "No attachment submitted"
	submitHomework: "Submit homework"
	submitRepeatedly: "**Tip:** You can save your homework multiple times, until this phase ends. Feel easy about saving your work half-way through."
	review: "Review"
	reviews: "Reviews"
	myAssessment: "My assessment"
	myReviewsOfOthers: "Reviews I've written"
	evaluationInProgress: "evaluation in progress"
	noReviewsFound: "No reviews have been found."
	continue: "continue"
	writeReview: "Write a review"
	noSolutionAvailable: "There are no more homeworks to be evaluated."
	reviewMore: "You need to review %count% homeworks."
	enoughReviews: "Great! You reviewed %count% homeworks! Thanks!"
	notEnoughReviews: "You haven't reviewed enough other homeworks."
	averageScore: "Score (average)"
	cannotReviewOthers: "You cannot review other's work without submitting your own assignment in time. After the phase of reviews is finished you can work on your assignment, but you won't be rewarded any points."
	submittingAfterDeadline: "When you miss the deadline, you can still work on your assignment (after the reviews phase is over). You won't be rewarded any points, though."
	editAfterDeadline: "Edit the assignment"
	homeworkEdit: "Edits"
	table:
		finishedReviews: "Finished"
		accepted: "Reviews"
		acceptedPoints: "Accepted"
		total: "Total"
		notComplete: "Not submitted"
	phase:
		finalized: "finalized"
		objections: "objections"
		reviews: "reviews"
		published: "published"
		draft: "draft"
		since: "since"
		timeLeft: "%time% left"
		isNotFinalized: "Unit has not been finalized yet."
solution:
	writtenBy: "Solved by"
	writtenIn:
		moreThanADay: "after more than 24 hours since the assignment has been generated."
		hours: "after %hours% hours and %minutes% minutes since the assignment has been generated."
		minutes: "after %minutes% minutes since the assignment has been generated."
	complete: "Assignment has been completed and will be submitted to the review process. You can still edit it until the review phase comes (%date%)."
	notComplete: "Assignment has not been completed yet and will not get reviews in the next phase. You can edit it until the review phase comes (%date%)."
review:
	title: "Peer-assessment"
	score: 
		title: "Score"
		0: "zero: bad work, author does not understand the topic"
		1: "★ bad result, but some work is visible"
		2: "★★ average work with some issues, but author's understanding of the topic is visible"
		3: "★★★ good work (can contain minor issues)"
		placeholder: "Rate this homework"
		missing: "score not given"
	shortScore:
		0: "—"
		1: "★"
		2: "★★"
		3: "★★★"
		missing: "?"
	status:
		title: "Status"
		prep: "Preparation"
		ok: "OK"
		problem: "Problem"
		objection: "Objection"
		fixed: "Fixed"
	statusLong:
		prep: "Preparation"
		ok: "OK"
		problem: "Problem waiting to be fixed"
		objection: "Objection has been raised"
		fixed: "Fixed and waiting for review"
	showReview: "show review"
	edit: "Fixes"
	noComment: "without comment"
	unfinished: "incomplete review"
	complete: "review is complete"
	verbalAsssessmentCompulsory: "Include verbal assessment please."
	assessmentMinimumLength: "Verbal assessment needs to be at least %count% characters long. Even closed questions require some commentary."
	useRubricsWhileChoosingScore: "Score the homework with regard to your verbal rating above."
	editUntilScoring: "You can save the review repeatedly. However, after checking the checkbox “review is complete”, your review is submitted and you'll get another homework to review."
	notes: "Notes"
	submit: "Submit review"
	writtenBy: "Reviewed by"
	isItWrong: "Is this review wrong? Raise an objection. If it's proven wrong, reviewer loses one point &mdash; be careful though: if proven right, it's you who loses that point."
	fixNow: "Fix this review"
	fixingIsNotPossibleNow: "It's not possible to fix this review now."
	fixOnlyYourOwn: "You can fix only the reviews you've written."
	isFixed: "review is fixed"
	writtenIn:
		moreThanADay: "Review has been submitted after more than a day after it's been opened for the first time."
		hours: "Review has been written in %hours% hours and %minutes% minutes."
		minutes: "Review has been written in %minutes% minutes."
	comments:
		title: "Comments"
		label: "New comment"
		post: "Post a comment"
		write: "Write a comment…"
objection: 
	title: "Objection"
	raise: "Raise an objection"
	raised: "An objection has been raised"
	notRaised: "No objection has been raised."
	description: "Description of what's wrong with the assessment"
	ratingIsWrong: "I believe that the star rating has been wrongly assessed."
	ratingIsWrongNeeded: "It's not possible to submit objection if you don't believe that the star rating has been wrongly assessed."
	reasonsGiven: "I've described everything that's wrong with the review."
	reasonsGivenNeeded: "Please, ensure that everything is described and check that checkbox."
	raisedAt: "Raised at"
	result: "Result"
	notEvaluatedYet: "Not evaluated yet"
chat:
	title: "Chat"
	send: "Send"
docs:
	title: "Peer Blender Docs"
