app:
	name: "Peer Blender"
	subtitle: "Nástroj pro vzájemné hodnocení domácích úkolů („peer assessment“)"
	courses: "Kurzy"
	login: "Přihlásit se"
	logout: "Odhlásit se"
course:
	totalEnrolled: "V kurzu je zapsáno %count% lidí."
unit:
	goals: "Cíle výukové jednotky"
	reading: "Zadaná četba"
	myHomework: "Můj domácí úkol"
	instructions: "Pokyny"
	solution: "Řešení"
	homeworkSaved: "**Váš úkol byl uložen.** Než bude možné zadávat vzájemné hodnocení (%date%), můžete jej ještě průběžně upravovat."
	homeworkAttachment: "Příloha"
	homeworkAttachmentNote: "maximální velikost souboru je 500 kB, pokud je to potřeba, můžete soubor zazipovat"
	submitHomework: "Uložit úkol"
	review: "Hodnocení"
	myAssesment: "Mé hodnocení: jak ostatní vidí mou práci"
	myReviewsOfOthers: "Má hodnocení práce ostatních"
	evaluationInProgress: "hodnocení probíhá"
	noReviewsFound: "Nenalezena žádná hodnocení."
	continue: "pokračovat"
	writeReview: "Napsat hodnocení"
	reviewMore: "Potřebujete ohodnotit ještě %count% úkolů."
	enoughReviews: "Skvělé! Ohodnotili jste %count% úkolů a dostáváte bod navíc! +1"
	averageScore: "Celkové hodnocení (průměr)"
	phase:
		finalized: "ukončená"
		objections: "námitky"
		reviews: "hodnocení"
		published: "zpracování úkolů"
		draft: "příprava"
review:
	score: 
		title: "Hodnocení"
		0: "nula: tohle je prostě špatné"
		1: "★ špatný výsledek, ale je za tím vidět práce"
		2: "★★ tohle se dá"
		3: "★★★ skvělá práce"
		placeholder: "Ohodnoťte tento úkol"
	comments: "Komentáře"
	submit: "Odeslat hodnocení"
	isItWrong: "Je toto hodnocení nesprávné? Vzneste námitku. Pokud se ukáže, že hodnocení bylo skutečně špatné, hodnotitel ztratí bod. Ale pozor &mdash; pokud je hodnocení oprávněné, ztratíte bod vy."
	raiseAnObjection: "Vznést námitku"