app:
	name: "Peer Blender"
	subtitle: "Nástroj pro vzájemné hodnocení domácích úkolů („peer assessment“)"
	courses: "Kurzy"
	unit: "Lekce"
	review: "Hodnocení"
	solution: "Řešení"
	home: "Domů"
	login: "Přihlásit se"
	logout: "Odhlásit se"
	username: "E-mail"
	usernameRequired: "Vložte svůj e-mail."
	requestNewPassword: "Nové či zapomenuté heslo?"
	newPassword: "Nové heslo"
	setNewPassword: "Nastavit jako nové heslo"
	password: "Heslo"
	passwordRequired: "Prosím, zadejte heslo."
	passwordResetRequestNotInitiated: "O změnu hesla k účtu s e-mailovou adresou **\"%address%\"** nebylo požádáno."
	newPasswordSet: "Nastavení nového heslo proběhlo úspěšně."
	keepMeSignedIn: "Trvalé přihlášení"
	emailAddress: "E-mailová adresa"
	accountNotFoundByEmail: "Žádný účet s e-mailovou adresou **\"%address%\"** nebyl nalezen."
	passwordResetRequestSent: "E-mail s odkazem, pomocí něhož můžete změnit své heslo, vám odešel na e-mail (%address%)."
course:
	totalEnrolled: "V kurzu je zapsáno %count% lidí."
	participants: "Účastníci kurzu"
	roles:
		student: "student"
		assistant: "asistent"
		admin: "administrátor"
unit:
	goals: "Cíle výukové jednotky"
	reading: "Zadaná četba"
	myHomework: "Můj domácí úkol"
	instructions: "Pokyny"
	solution: "Řešení"
	notAnswered: "Nezodpovězeno."
	homeworkSaved: "**Váš úkol byl uložen.** Než bude možné zadávat vzájemné hodnocení (%date%), můžete jej ještě průběžně upravovat."
	homeworkAttachment: "Příloha"
	homeworkAttachmentNote: "maximální velikost souboru je %filesize% kB, pokud je to potřeba, můžete soubor zazipovat"
	submittedAttachment: "Uložené přílohy"
	noAttachment: "Žádné přílohy nebyly přiloženy"
	submitHomework: "Uložit úkol"
	submitRepeatedly: "**Tip:** Úkol můžete průběžně ukládat, včetně přílohy, kterou můžete nahrát znovu a starý soubor se přepíše novým."
	review: "Hodnocení"
	myAssesment: "Mé hodnocení: jak ostatní vidí mou práci"
	myReviewsOfOthers: "Má hodnocení práce ostatních"
	evaluationInProgress: "hodnocení probíhá"
	noReviewsFound: "Nenalezena žádná hodnocení."
	continue: "pokračovat"
	writeReview: "Napsat hodnocení"
	noSolutionAvailable: "V databázi nejsou žádné úkoly, které byste nyní mohli hodnotit."
	reviewMore: "Potřebujete ohodnotit ještě %count% úkolů."
	enoughReviews: "Skvělé! Ohodnotili jste %count% úkolů! Díky."
	averageScore: "Celkové hodnocení (průměr)"
	phase:
		finalized: "ukončená"
		objections: "námitky"
		reviews: "hodnocení"
		published: "zpracování úkolů"
		draft: "příprava"
		since: "od"
		timeLeft: "zbývá %time%"
solution:
	writtenBy: "Zpracoval/a"
review:
	score: 
		title: "Hodnocení"
		0: "nula: špatný výsledek zapříčiněný neporozumění obsahu"
		1: "★ špatný výsledek, ale je za tím vidět práce"
		2: "★★ průměrná práce s chybami, ale je znát porozumění obsahu"
		3: "★★★ slušná práce (může obsahovat drobné chyby)"
		placeholder: "Ohodnoťte tento úkol"
		missing: "Neohodnoceno"
	showReview: "zobrazit hodnocení"
	verbalAsssessmentCompulsory: "Vyplňte prosím slovní hodnocení úkolu."
	assessmentMinimumLength: "Slovní hodnocení musí být dlouhé alespoň %count% znaků. I u uzavřených otázek doplňte vlastní komentář."
	noComment: "bez komentáře"
	useRubricsWhileChoosingScore: "Hodnoťte na základě toho, co jste uvedli v písemném hodnocení."
	editUntilScoring: "Hodnocení můžete průběžně ukládat — ale pouze do chvíle, kdy vyberete konkrétní hodnocení (hvězdičky). Pak se recenze odešle a dostanete další úkol k recenzi."
	comments: "Komentáře"
	submit: "Odeslat hodnocení"
	writtenBy: "Zhodnotil/a"
	isItWrong: "Je toto hodnocení nesprávné? Vzneste námitku. Pokud se ukáže, že hodnocení bylo skutečně špatné, hodnotitel ztratí bod. Ale pozor &mdash; pokud je hodnocení oprávněné, ztratíte bod vy."
objection: 
	raise: "Vznést námitku"
	raised: "Námitka byla vznesena"
	notRaised: "Žádná námitka nebyla vznesena."
	description: "Popis toho, co je špatně v hodnocení tohoto úkolu"
	ratingIsWrong: "Myslím, že výsledné hodnocení (v hvězdičkách) bylo uděleno nesprávně."
	ratingIsWrongNeeded: "Nemůžete vznést námitku, pokud nechcete zpochybnit celkové hodnocení vyjádřené hvězdičkami."
	reasonsGiven: "V námitce je popsáno vše, co je v hodnocení provedeno nesprávně."
	reasonsGivenNeeded: "Prosím, ujistěte se, že je v námitce popsáno vše, a zaškrtněte tento boxík."
	raisedAt: "Námitka vznesena dne"
	result: "Výsledek"
	notEvaluatedYet: "Zatím nevyhodnoceno"
docs:
	title: "Dokumentace aplikace Peer Blender"
