app:
	name: "Peer Blender"
	subtitle: "Nástroj pro vzájemné hodnocení domácích úkolů („peer assessment“)"
	courses: "Kurzy"
	login: "Přihlásit se"
	logout: "Odhlásit se"
	username: "E-mail"
	usernameRequired: "Vložte svůj e-mail."
	requestNewPassword: "Nové či zapomenuté heslo?"
	newPassword: "Nové heslo"
	setNewPassword: "Nastavit jako nové heslo"
	password: "Heslo"
	passwordRequired: "Prosím, zadejte heslo."
	passwordResetRequestNotInitiated: "O změnu hesla k účtu s e-mailovou adresou **\"%address%\"** nebylo požádáno."
	newPasswordSet: "Nastavení nového heslo proběhlo úspěšně."
	keepMeSignedIn: "Trvalé přihlášení"
	emailAddress: "E-mailová adresa"
	accountNotFoundByEmail: "Žádný účet s e-mailovou adresou **\"%address%\"** nebyl nalezen."
	passwordResetRequestSent: "E-mail s odkazem, pomocí něhož můžete změnit své heslo, vám odešel na e-mail (%address%)."
course:
	totalEnrolled: "V kurzu je zapsáno %count% lidí."
unit:
	goals: "Cíle výukové jednotky"
	reading: "Zadaná četba"
	myHomework: "Můj domácí úkol"
	instructions: "Pokyny"
	solution: "Řešení"
	homeworkSaved: "**Váš úkol byl uložen.** Než bude možné zadávat vzájemné hodnocení (%date%), můžete jej ještě průběžně upravovat."
	homeworkAttachment: "Příloha"
	homeworkAttachmentNote: "maximální velikost souboru je %filesize% kB, pokud je to potřeba, můžete soubor zazipovat"
	submittedAttachment: "Uložené přílohy"
	submitHomework: "Uložit úkol"
	review: "Hodnocení"
	myAssesment: "Mé hodnocení: jak ostatní vidí mou práci"
	myReviewsOfOthers: "Má hodnocení práce ostatních"
	evaluationInProgress: "hodnocení probíhá"
	noReviewsFound: "Nenalezena žádná hodnocení."
	continue: "pokračovat"
	writeReview: "Napsat hodnocení"
	noSolutionAvailable: "V databáti nejsou žádné úkoly, které byste nyní mohli hodnotit. Zkuste to prosím později."
	reviewMore: "Potřebujete ohodnotit ještě %count% úkolů."
	enoughReviews: "Skvělé! Ohodnotili jste %count% úkolů a dostáváte bod navíc! +1"
	averageScore: "Celkové hodnocení (průměr)"
	phase:
		finalized: "ukončená"
		objections: "námitky"
		reviews: "hodnocení"
		published: "zpracování úkolů"
		draft: "příprava"
		since: "od"
review:
	score: 
		title: "Hodnocení"
		0: "nula: tohle je prostě špatné"
		1: "★ špatný výsledek, ale je za tím vidět práce"
		2: "★★ tohle se dá"
		3: "★★★ skvělá práce"
		placeholder: "Ohodnoťte tento úkol"
	comments: "Komentáře"
	submit: "Odeslat hodnocení"
	isItWrong: "Je toto hodnocení nesprávné? Vzneste námitku. Pokud se ukáže, že hodnocení bylo skutečně špatné, hodnotitel ztratí bod. Ale pozor &mdash; pokud je hodnocení oprávněné, ztratíte bod vy."
	raiseAnObjection: "Vznést námitku"
docs:
	title: "Dokumentace aplikace Peer Blender"