app:
	name: "Peer Blender"
	subtitle: "Peer assessment-based tool"
	courses: "Courses"
	unit: "Unit"
	units: "Units"
	review: "Review"
	solution: "Solution"
	home: "Home"
	login: "Sign in"
	logout: "Sign out"
	username: "Username"
	usernameRequired: "Please enter your username."
	requestNewPassword: "Request new password"
	newPassword: "New password"
	setNewPassword: "Set as the new password"
	password: "Password"
	passwordRequired: "Please enter your password."
	passwordResetRequestNotInitiated: "No password reset request has been made for account with e-mail address **\"%address%\"** in the last 90 minutes."
	passwordResetTokenInvalid: "There is a password reset request for account with e-mail address **\"%address%\"**. However, your link is not valid. This happens mainly when you request a new password multiple times in a short while and use a link from an e-mail that is already not valid. Please try again."
	newPasswordSet: "New password has been set."
	keepMeSignedIn: "Keep me signed in"
	emailAddress: "E-mail address"
	accountNotFoundByEmail: "There's no account using the e-mail address **\"%address%\"**."
	passwordResetRequestSent: "An email with a link to reset your password has been sent to your e-mail address (%address%)."
	reviewsWithProblems: "Reviews with problems"
	stats: "Course stats"
	docs: "Docs"
	objectionsProcessing: "Objections processing"
course:
	totalEnrolled: "%count% people enrolled"
	participants: "Course participants"
	calendar: "Calendar"
	roles:
		student: "student"
		assistant: "assistant"
		admin: "admin"
user:
	courses: "User's courses"
	reviews: "User's reviews"
	scoreAdjustment: "Score adjustment"
	notes: "Notes"
	scoreAdjustmentInfo: "You can adjust student's score by providing star-prepended numeric values (*3, *3.5, *-1) that will be automatically summed and added to student's total score."
	hiddenNotes: "Hidden notes"
	editNotes: "Edit notes"
	saveNotes: "Save notes"
unit:
	goals: "Unit goals"
	reading: "Assigned reading"
	assignment: "Assignment"
	myAssignment: "My assignment"
	instructions: "Instructions"
	solution: "Solution"
	solutions: "Solutions"
	notAnswered: "Not answered."
	assignmentSaved: "**Your assignment has been saved.**"
	assignmentAttachment: "Attachment"
	assignmentAttachmentNote: "Maximum file size is %filesize% kB. You may archive files into a ZIP archive if needed."
	assignmentAttachmentNotNeeded: "No attachment is required to complete this assignment."
	submittedAttachment: "Submitted attachment"
	noAttachment: "No attachment submitted"
	submitAssignment: "Submit assignment"
	submitRepeatedly: "**Tip:** You can save your assignment whenever you want."
	review: "Review"
	reviews: "Reviews"
	myAssessment: "My assessment"
	myReviewsOfOthers: "Reviews I've written"
	evaluationInProgress: "evaluation in progress"
	noReviewsFound: "No reviews have been found."
	continue: "continue"
	writeReview: "Write a review"
	noSolutionAvailable: "There are no more assignments to be evaluated."
	reviewMore: "You need to review %count% assignments."
	enoughReviews: "Great! You reviewed %count% assignments! Thanks!"
	notEnoughReviews: "You haven't reviewed enough other assignments."
	averageScore: "Score (average)"
	cannotReviewOthers: "You cannot review other's work without any work on your own assignment. After the phase of reviews is finished you can reopen on your assignment, but you won't be rewarded any points."
	submittingAfterDeadline: "When you miss the deadline, you can work on your assignment (after the reviews phase is over). You won't be rewarded any points, though.\n\n (There may be exceptions in case of some specific problems: in such cases please contact the teacher to discuss the issue.)"
	editAfterDeadline: "Edit the assignment"
	assignmentEdit: "Edits"
	table:
		finishedReviews: "Finished"
		accepted: "Reviews"
		acceptedPoints: "Accepted"
		total: "Total"
		notComplete: "Not submitted"
	phase:
		finalized: "finalized"
		objections: "objections"
		reviews: "reviews"
		published: "published"
		draft: "draft"
		since: "since"
		timeLeft: "%time% left"
		isNotFinalized: "Unit has not been finalized yet."
	highlighting:
		code: "Code editing (without syntax highlighting) is active in the input field."
		javascript: "**Javascript** syntax highlighting is active in the input field."
		turtle: "**Javascript** syntax highlighting is active in the input field. Library **p5.turtle.js** is used when running the script."
		p5js: "**Javascript** syntax highlighting is active in the input field. Library **p5.js** is used when running the script."
		markdown: "**Markdown** syntax highlighting is active in the input field."
		css: "**CSS** syntax highlighting is active in the input field."
		sql: "**SQL** syntax highlighting is active in the input field."
		xml: "**XML** syntax highlighting is active in the input field."
		html: "**HTML** syntax highlighting is active in the input field."
solution:
	writtenBy: "Solved by"
	author: "Author"
	writtenIn:
		moreThanADay: "after more than 24 hours since the assignment has been generated."
		hours: "after %hours% hours and %minutes% minutes since the assignment has been generated."
		minutes: "after %minutes% minutes since the assignment has been generated."
	unanswered: "This answer is missing, hence your work will be awarded only a half of the points given."
	runCode: "Run code"
	runCodeWithoutAnimation: "Run code without animation"
	viewPrefill: "Show pre-filled code"
	quickSave: "Save assignment"
	saved: "The assignment's solution has been saved."
	workOnUntil: "You can work on the assignment until the review phase comes (%date%)."
	createAdHoc: "create ad hoc review"
	addComments: "Add additional comments here."
	comments: "Comments"
	noComment: "Left without any comment."
review:
	title: "Peer-assessment"
	author: "Reviewer"
	solutionIsComplete: "The submitted solution is complete, no question has been omitted."
	solutionIsNotComplete: "The submitted solution is not complete, one or more questions has been omitted."
	fixComplete: "Mark as complete and accept the objection."
	thirdParty: "Third party"
	rubrics: "Assessment rubrics"
	checklist:
		title: "Checklist"
		weight: "weight"
		weightedSum: "Weighted sum"
	score: 
		title: "Score"
		0: "bad work, author does not understand the topic"
		1: "bad result, but some work is visible"
		2: "average work with some issues, but author's understanding of the topic is visible"
		3: "good work (can contain minor issues)"
		placeholder: "Rate this assignment"
		missing: "score not given"
	status:
		title: "Status"
		prep: "Preparation"
		ok: "OK"
		problem: "Waiting for reaction"
		objection: "Objection raised"
		fixed: "Fixed"
	statusLong:
		prep: "Preparation"
		ok: "OK"
		problem: "Objection has been found legitimate, waiting for a reaction from the reviewer"
		objection: "Objection has been raised, awaiting audit from teacher"
		fixed: "Fixed and waiting for review from teacher"
	totalScore: "Score"
	geometricMean: "geometric mean"
	showReview: "show review"
	edit: "Fixes"
	comment: "Comment"
	noComment: "without comment"
	unfinished: "incomplete review"
	complete: "review is complete"
	verbalAssessment: "Verbal assessment"
	verbalAsssessmentCompulsory: "Include verbal assessment please."
	assessmentMinimumLength: "Verbal assessment needs to be at least %count% characters long. Even closed questions require some commentary."
	useRubricsWhileChoosingScore: "Score the assignment with regard to your verbal rating above."
	editUntilScoring: "You can save the review repeatedly. However, after checking the checkbox “review is complete”, your review is submitted and you'll get another assignment to review."
	notes: "Notes"
	submit: "Submit review"
	writtenBy: "Reviewed by"
	isItWrong: "Is this review wrong? Raise an objection. If it's proven wrong, reviewer loses one point &mdash; be careful though: if proven right, it's you who loses that point."
	fixNow: "Fix this review"
	fixingIsNotPossibleNow: "It's not possible to fix this review now."
	fixOnlyYourOwn: "You can fix only the reviews you've written."
	isFixed: "review is fixed"
	fixed: "Review has been fixed (automatically generated comment)."
	unlock: "Unlock review for editing"
	unlocked: "Review has been unlocked for editing"
	addedAdHoc: "manually created ad hoc review"
	belatedWarning: "Review phase has already ended — belated review means that your score in this unit will be halved."
	belated: "This review was submitted too late."
	belatedReviews: "Reviews were submitted too late. Only half of the score is counted in total."
	writtenIn:
		moreThanADay: "Review has been submitted after more than a day after it's been opened for the first time."
		hours: "Review has been written in %hours% hours and %minutes% minutes."
		minutes: "Review has been written in %minutes% minutes."
	comments:
		title: "Comments"
		label: "New comment"
		post: "Post a comment"
		write: "Write a comment…"
question:
	legacy: "Legacy rendering applied. Problems may occur."
	changed: "Question has been changed since it has been created."
objection: 
	title: "Objection"
	raise: "Raise an objection"
	raised: "An objection has been raised"
	notRaised: "No objection has been raised."
	description: "Description of what's wrong with the assessment"
	ratingIsWrong: "I believe that the star rating has been wrongly assessed."
	ratingIsWrongNeeded: "It's not possible to submit objection if you don't believe that the star rating has been wrongly assessed."
	reasonsGiven: "I've described everything that's wrong with the review."
	reasonsGivenNeeded: "Please, ensure that everything is described and check that checkbox."
	raisedAt: "Raised at"
	result: "Result"
	notEvaluatedYet: "Not evaluated yet"
docs:
	title: "Peer Blender Docs"
code:
	notAvailable: "Preview is not available yet — it'll show when you start working on the assignment. Save the assignment and reload the page, it will be there."
	clickToShowPreview: "To run this code, click one of the buttons."
