app:
	name: "Peer Blender"
	subtitle: "Peer assessment-based homework tool"
	courses: "Courses"
	login: "Sign in"
	logout: "Sign out"
	username: "Username"
	usernameRequired: "Please enter your username."
	requestNewPassword: "Request new password"
	password: "Password"
	passwordRequired: "Please enter your password."
	keepMeSignedIn: "Keep me signed in"
	emailAddress: "E-mail address"
course:
	totalEnrolled: "%count% people enrolled."
unit:
	goals: "Unit goals"
	reading: "Assigned reading"
	myHomework: "My homework"
	instructions: "Instructions"
	solution: "Solution"
	homeworkSaved: "**Your homework has been saved.** You can edit it until the review phase comes (%date%)."
	homeworkAttachment: "Attachment"
	homeworkAttachmentNote: "maximum size 500 kB, archive files into ZIP if needed"
	submitHomework: "Submit homework"
	review: "Review"
	myAssesment: "My assessment: how others see my work"
	myReviewsOfOthers: "My reviews of other's work"
	evaluationInProgress: "evaluation in progress"
	noReviewsFound: "No reviews have been found."
	continue: "continue"
	writeReview: "Write a review"
	reviewMore: "You need to review %count% homeworks."
	enoughReviews: "Great! You reviewed %count% homeworks and you've been awarded by an extra point! +1"
	averageScore: "Score (average)"
	phase:
		finalized: "finalized"
		objections: "objections"
		reviews: "reviews"
		published: "published"
		draft: "draft"
review:
	score: 
		title: "Score"
		0: "zero: this is wrong"
		1: "★ bad result, but some work is visible"
		2: "★★ well, it's okay"
		3: "★★★ excellent work"
		placeholder: "Rate this homework"
	comments: "Comments"
	submit: "Submit review"
	isItWrong: "Is this review wrong? Raise an objection. If it's proven wrong, reviewer loses one point &mdash; be careful though: if proven right, it's you who loses that point."
	raiseAnObjection: "Raise an objection"