$brown: #AA7C39;
$lightBrown: #D3A056;
$green: #519331;
$lightGreen: #6DB74A;
$blue: #2A4D6E;
$lightBlue: #3E6489;
$red: #9E354A;
$lightRed: #C55067;

@import 'settings';
@import '../bower_components/foundation/scss/foundation.scss';

body {
	background: url('./../images/dots.png') white;
	background-attachment: fixed;
}

html, body, p, li, blockquote, h1, h2, h3, h4, h5, h6, input, textarea {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1, h2, h3 {
	font-weight: bold;
}

label {
	font-size: 1rem;
}

input[type="radio"] {
	margin: 0 .3rem .3rem 0;
}

#content {
	p a, li a, td a {
		border-bottom: 3px solid rgba($lightBlue, .2);
		
		&:visited {
			color: $red;
			border-color: rgba($red, .2);
		}
		
		&:hover {
			border-color: rgba($lightBlue, .5);
		}
	}
}

.row .row {
	background: white;
}

.CodeMirror {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	height: auto;
	
	pre {
		font-size: 14px;
	}
}

#frm-searchForm {
	padding: 0;
	margin: 1em 0;

	#frm-searchForm-query {
		font-size: 24pt;
		height: 48pt;
		line-height: 48pt;
		border: 0;
		margin: 0;
		padding: 7px 65px 0;
		background: -2px 50% no-repeat url("./../images/search.png") rgba(255, 255, 255, .8);
		background-size: contain; 
	}

	.postfix {
		height: 48pt;
		line-height: 48pt;
		margin: 0;
	}

	input[type=submit] {
		display: none;
	}
}

header {
	
	&>div {
		background: white;
		padding: 0px 0;
	}

	#tags {
		width: 100%;
	}
	.select2 input[type="search"] {
		margin: 0;
		padding: 2px;
		height: 28px;
		line-height: 28px;
		box-shadow: none;
	}
}

#related {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 10px;
}

#answer, #results {
	padding-top: 20px;
	min-height: 300px;
	
	.empty {
		padding: 200px 0;
		text-align: center;
		color: #999;
		font-variant: italic;
	}
}

#content {
	background: white;
}

.button.small {
	.fa {
		font: normal normal normal 14px/.4 FontAwesome;
		font-size: 170%;
		position: relative;
		left: -10px;
	}
}

#editor-save, #load-editor {
	float: right;
	margin-bottom: 0;
}

.prefill {
	border: 1px solid #aaa;
	background: #eee;
	padding: 20px;
	margin-bottom: 30px;
	display: none;
	
	.CodeMirror-focused .CodeMirror-cursor { visibility: hidden; }
}

.breadcrumbs {
	margin-top: 20px;
	padding: 0;
	border: 0;
	background: transparent;
}

a.hashtag {
	font-weight: bold;
}
a.nonexistent {
	color: #f60;
}
p .hljs, blockquote .hljs, li .hljs {
	display: inline;
	padding: 0; border: 0;
	background: transparent;
}
.editor {
	color: #999;
	display: none;
	
	&::before {
		content: "— ";
	}
}
ul.checklist {
	list-style-type: none;
	
	ul, ol {
		list-style-type: none;
		padding-left: 40px;	
	}
	
	input {
			
	}
}
.medium-insert-buttons {
	margin-left: -60px;
	opacity: .5;	
}

.assignmentQuestion {
	margin-bottom: 70px;
	
	label p:last-child {
		margin-bottom: .5em;
	}
	
	.questionNumber {
		float: left;
		background: black;
		color: white;
		text-align: center;
		padding: 2px 10px;
		width: 3rem;
		margin-left: -3.9375rem;
	}	
}

.phases {
	overflow: hidden;
	margin-bottom: 20px;
	
	.time {		
		background: 0;
		color: black;
		padding: 0 3px;
	}
	
	.phase {
		position: relative;
		margin-right: 10px;
		font-weight: bold;
		background-color: #bbb;
		
		&.current:nth-child(1) { background-color: $brown }
		&.current:nth-child(2) { background-color: $red }
		&.current:nth-child(3) { background-color: $blue }
		&.current:nth-child(4) { background-color: $green }
		
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-left-color: #bbb;
			border-width: 15px;
			margin-top: -15px;
		}
		
		&:last-child:after {
			border-width: 0;
		}
		
		&.current:nth-child(1) { background-color: $brown; &:after { border-left-color: $brown; } }
		&.current:nth-child(2) { background-color: $red; &:after { border-left-color: $red; } }
		&.current:nth-child(3) { background-color: $blue; &:after { border-left-color: $blue; } }
		&.current:nth-child(4) { background-color: $green; &:after { border-left-color: $green; } }
	}
}

.phases.small {
	display: inline-block;
	margin-bottom: 0;
	.label { display: none; }
	.label.current { display: inline-block; margin-right: 15px; }
	.label:last-child { margin-right: 0; }
	
}

#chat {
	position: fixed;
	bottom: 0; right: 100px;
	width: 100px; height: 30px;
	overflow: hidden;
	display: none;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
	background: rgba(255, 255, 255, .95);
	z-index: 1;
	font-size: 14px;
	
	.chatContent {
		display: none;
	}
	
	.header {
		background: #008CBA;
		color: white;
		font-weight: bold;
				
		position: absolute;
		top: 0; left: 0;
		width: 400px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		z-index: 2;
	}
	
	.messages {
		padding: 40px 10px 10px;
		height: 430px;
		overflow: auto;
		
		.message {
			margin-bottom: 10px;
		}
		
		p {
			margin: 0 0 5px;
			line-height: 1em;
			font-size: 13px;
			
		}
	}
	
	form {
		position: absolute;
		bottom: 0; left: 0; width: 400px;
		
		textarea {
			position: absolute;
			bottom: 0; left: 0; width: 400px;
			margin: 0;
			font-size: 13px;
		}
		
		input {
			position: absolute;
			bottom: 7px; right: 7px;
			margin: 0; padding: 5px;
			opacity: .7
		}
	}
}


#totalScore {
	font-size: 2rem;
}
li.selected {
	font-weight: bold;
	text-decoration: underline;
}
.flashMessages {
	position: fixed;
	top: 20px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 999;
}

.rubricsPreview {
	list-style: none;
	margin-left: 0;
	
	& > li {
		margin-bottom: 1rem;
	}

	ol {
		list-style: none;
		margin-left: 2rem;
	}
}

#frm-notesForm {
	table {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 300px;
	}	
}

#form-controls {
	z-index: 99;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 1);
	padding: 10px 0;				
	box-shadow: 0 0 3px rgba(100, 100, 100, .5);

	.row {
		margin: 0 auto;
		max-width: 62.5rem;
		width: 100%;
	}

	p {
		margin: 0;
		line-height: 1.3em;
	}

	button {
		display: block;
		width: 100%;
		padding: 10px 15px;
		margin: 0;	
	}
}

.panel.problem {
	border-color: $red;
	border-width: 2px;
}

.unanswered {
	display: block; 
	float: right; 
	margin-left: 5px;
	
	color: orange; 
}
