$brown: #AA7C39;
$lightBrown: #D3A056;
$green: #519331;
$lightGreen: #6DB74A;
$blue: #2A4D6E;
$lightBlue: #3E6489;
$red: #9E354A;
$lightRed: #C55067;

@import 'settings';
@import '../bower_components/foundation/scss/foundation.scss';

body {
	background: white;
	background-attachment: fixed;
}

html, body, p, li, blockquote, h1, h2, h3, h4, h5, h6, input, textarea {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1, h2, h3 {
	font-weight: bold;
}

label {
	font-size: 1rem;
}

input[type="radio"] {
	margin: 0 .3rem .3rem 0;
}

.content {
	p, li, blockquote, textarea, label {
		max-width: 40em; 
	}
	
	p a, li a, td a {
		border-bottom: 3px solid rgba($lightBlue, .2);
		
		&:visited {
			color: $red;
			border-color: rgba($red, .2);
		}
		
		&:hover {
			border-color: rgba($lightBlue, .5);
		}
	}
}

.CodeMirror {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	height: auto;
	
	pre {
		font-size: 14px;
	}
}

textarea.plaintext {
	font-size: 1rem;
	
	&[readonly] {
		color: black;
		background: white;
	}
}

#frm-searchForm {
	padding: 0;
	margin: 1em 0;

	#frm-searchForm-query {
		font-size: 24pt;
		height: 48pt;
		line-height: 48pt;
		border: 0;
		margin: 0;
		padding: 7px 65px 0;
		background: -2px 50% no-repeat url("./../images/search.png") rgba(255, 255, 255, .8);
		background-size: contain; 
	}

	.postfix {
		height: 48pt;
		line-height: 48pt;
		margin: 0;
	}

	input[type=submit] {
		display: none;
	}
}

ul.units {
	list-style-type: none;
	margin-left: 0;
}

header {
	
	&>div {
		background: white;
		padding: 0px 0;
	}

	#tags {
		width: 100%;
	}
	.select2 input[type="search"] {
		margin: 0;
		padding: 2px;
		height: 28px;
		line-height: 28px;
		box-shadow: none;
	}
}

#related {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 10px;
}

#answer, #results {
	padding-top: 20px;
	min-height: 300px;
	
	.empty {
		padding: 200px 0;
		text-align: center;
		color: #999;
		font-variant: italic;
	}
}

.button.small {
	.fa {
		font: normal normal normal 14px/.4 FontAwesome;
		font-size: 170%;
		position: relative;
		left: -10px;
	}
}

#editor-save, #load-editor {
	float: right;
	margin-bottom: 0;
}

.prefill {
	border: 1px solid #eee;
	background: #fee;
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
	display: none;
	
	.CodeMirror-focused .CodeMirror-cursor { visibility: hidden; }
	
	button {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.breadcrumbs {
	margin-top: 20px;
	padding: 0;
	border: 0;
	background: transparent;
}

a.hashtag {
	font-weight: bold;
}
a.nonexistent {
	color: #f60;
}
p .hljs, blockquote .hljs, li .hljs {
	display: inline;
	padding: 0; border: 0;
	background: transparent;
}
.editor {
	color: #999;
	display: none;
	
	&::before {
		content: "— ";
	}
}
ul.checklist {
	list-style-type: none;
	
	ul, ol {
		list-style-type: none;
		padding-left: 40px;	
	}
	
	input {
			
	}
}
.medium-insert-buttons {
	margin-left: -60px;
	opacity: .5;	
}

.assignmentQuestion {
	margin-bottom: 70px;
	
	label p:last-child {
		margin-bottom: .5em;
	}
	
	.questionNumber {
		font-size: 40px;
		line-height: 40px;
		color: #aaa;
		text-align: center;
		padding: 0 10px;
		width: 3rem;
		
		&.complete {
			background: $green;
		}
		
		&.incomplete {
			background: $red;
		}
		
		@media #{$large-up} { 
			float: left;
			margin-left: -3.9375rem;
		}
	}
}

.phases {
	overflow: hidden;
	margin-bottom: 20px;
	
	.time {		
		background: 0;
		color: black;
		padding: 0 3px;
	}
	
	.phase {
		position: relative;
		margin-right: 10px;
		font-weight: bold;
		background-color: #bbb;
		
		&.current:nth-child(1) { background-color: $brown }
		&.current:nth-child(2) { background-color: $red }
		&.current:nth-child(3) { background-color: $blue }
		&.current:nth-child(4) { background-color: $green }
		
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-left-color: #bbb;
			border-width: 15px;
			margin-top: -15px;
		}
		
		&:last-child:after {
			border-width: 0;
		}
		
		&.current:nth-child(1) { background-color: $brown; &:after { border-left-color: $brown; } }
		&.current:nth-child(2) { background-color: $red; &:after { border-left-color: $red; } }
		&.current:nth-child(3) { background-color: $blue; &:after { border-left-color: $blue; } }
		&.current:nth-child(4) { background-color: $green; &:after { border-left-color: $green; } }
	}
}

.phases.small {
	display: inline-block;
	margin-bottom: 0;
	.label { display: none; }
	.label.current { display: inline-block; margin-right: 15px; }
	.label:last-child { margin-right: 0; }
	
}

#totalScore {
	font-size: 2rem;
}
li.selected {
	font-weight: bold;
	text-decoration: underline;
}
.flashMessages {
	position: fixed;
	top: 20px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 999;
}

.rubrics {
	border-left: 20px solid $green;
	background: rgba($green, .1);
	padding: 20px;
	
	.rubric {
		margin-bottom: 2rem;
	}
	
	.description p, .description li, .description label {
		font-size: 1.3rem;
	}
	
	label {
		margin-bottom: 0.5rem;
	}
	
	.nette-forms-controls-checkboxlist,
	.model-ontology-checklist 
	{
		& > label {
			margin-left: 20px;
		}	
		
		input {
			display: inline-block;
			width: 20px;
			margin: 5px 0 0 -20px;
		}
	}
}

#frm-notesForm {
	table {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 300px;
	}	
}

#form-controls {
	z-index: 99;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 1);
	padding: 10px 0;				
	box-shadow: 0 0 3px rgba(100, 100, 100, .5);

	.row {
		margin: 0 auto;
		max-width: 62.5rem;
		width: 100%;
	}

	p {
		margin: 0;
		line-height: 1.3em;
	}

	button {
		display: block;
		width: 100%;
		padding: 10px 15px;
		margin: 0;	
	}
}

.panel.problem {
	border-color: $red;
	border-width: 2px;
}

.unanswered {
	display: block; 
	float: right; 
	margin-left: 5px;
	
	color: orange; 
}
.columns > pre > code, 
.columns > div > pre > code, 
.assignmentQuestion > label > pre > code, 
.assignmentQuestion > div > label > pre > code {
	display: block;
	overflow-x: scroll;
	margin-bottom: 1rem;
}

.turtle-preview, .p5js-preview {
	border: 0;
	width: 100%; 
	height: 400px
}

.row.wide {
	max-width: 80rem;
}

.markdown-preview-wrapper {
	background: #eee;
	padding: 20px;
}

.stats p {
	margin-top: -1rem;
	color: #666;
	font-size: 90%;
}

.belated {
	color: $red;	
}

.past-event {
	opacity: 0.5;
}