{block title}{_messages.app.userDashboard, array('user' => $user->getIdentity()->name)}{/block}

{block content}
<div id="content" class="columns">		
	<div class="row">
		<div class="columns large-8">
			<h2>{_messages.user.courses}</h2>
			
		</div>
	</div>
</div>
{/block}
