{block title}Sign in{/block}

{block content}
<div id="content" class="row">
	<div class="columns large-6">
		{form signInForm}
			<p>{label username /} {input username}
			<span class="error" n:ifcontent>{inputError username}</span></p>
			
			<p>{label password /} {input password}
			<span class="error" n:ifcontent>{inputError password}</span></p>
			
			<p>{input send, class => 'button'} &nbsp; <a n:href="Password:reset">{_messages.app.requestNewPassword}</a></p>
		{/form}
	</div>
</div>